.ani-filled {
  background-color: #A020F0;
  border: none;
  color: #fff;
  border-radius: 0.2rem;
  padding: 0.4rem;
  cursor: pointer;
}

.ani-filled-small {
  font-size: 0.5em;
}

.ani-filled-medium {
  font-size: 1em;
}

.ani-filled-large {
  font-size: 1.5em;
}