.ani-flat {
  border: none;
  background-color: transparent;
  color: #A020F0;
  cursor: pointer;
  text-align: center;
}

.ani-flat-small {
  font-size: 0.5em;
}

.ani-flat-medium {
  font-size: 1em;
}

.ani-flat-large {
  font-size: 1.5em;
}