.ani-material {
  border: none;
  color: white;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.ani-material-primary {
  background-color: #3f51b5;
}

.ani-material-secondary {
  background-color: #ff4081;
}